<div class="row">
  <div class="col-md-6">
    <div class="scopes">
      <div class="well">
        <h4>Most Reviewed Product: </h4>
        <% @products.most_reviews.each do |product|%>
          <p><%= link_to product.name, product_path(product)  %>, Reviews: <%= product.reviews.length %>, Price $<%= product.cost %></p>
        <% end %>
      </div>

      <div class="well">
        <h4>Recently Added Products: </h4>
        <% @products.recent_creations.each do |product|%>
        <p><%= link_to product.name, product_path(product)  %>, Price $<%= product.cost %> </p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="usa_box">
      <div class="well">
        <h4>Products Made in the USA: </h4>
        <% @products.usa.each do |product|%>
        <p><%= link_to product.name, product_path(product)  %>, Price $<%= product.cost %> </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
