<h3>Product List</h3>

<%= link_to "Alphabetically", :sort_by => 'alphabetical' %> |
<%= link_to "Highest Priced", :sort_by => 'high_price' %> |
<%= link_to "Lowest Priced", :sort_by => 'low_price' %> |
<%= link_to "Recent", :sort_by => 'recent' %>
<h5><%= link_to "New Product", new_product_path %></h5>
<hr>

<table class="table">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Reviews</th>
        <th>Price</th>
        <th>Average Rating</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><h4><em><%= link_to product.name, product_path(product) %></em></h4></td>
          <td><%= product.reviews.length %></td>
          <td>$<%= product.cost %></td>
          <td>
            <% product.average_rating.round.times do %>
              <%= image_tag("avo.png", :alt => "avocado rating", :id => "rating_icon") %>
            <%end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
