<h3>Sup babes</h3>

<%= link_to "New Product", new_product_path %>
<hr>

<table class="table">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Reviews</th>
        <th>Price</th>
        <th>Average Rating</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><h4><em><%= link_to product.name, product_path(product) %></em></h4></td>
          <td><%= product.reviews.length %></td>
          <td>$<%= product.cost %></td>
          <td><%= product.average_rating %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
