<h2><em><%= @product.name %></em></h2>
<h3>Price $<%= @product.cost %></h3>
<h4>Made in: <%= @product.country_origin %></h4>
<h4>Average User Rating: <%= @product.average_rating %> Avocados</h4>
<!-- <img class="product_img" src="#{@product.image}" alt="product pic"> -->
<%= image_tag("#{@product.image}", :alt => "avocado rating", :class => "product_img") %>

<hr>
<p><%= link_to "Edit", edit_product_path(@product) %></p>
<p><%= link_to "Delete", product_path(@product),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

<hr>

<p><%= link_to "New Review", new_product_review_path(@product) %></p>
<h3>Reviews:</h3>
<% if @product.reviews.any? %>
  <h4>Here are the reviews for this product:</h4>

  <ul>
    <% @product.reviews.each do |review| %>
      <h4>Author: <%= review.author %></h4>
      <h4>Rating:
        <% review.rating.times do %>
          <%= image_tag("avo.png", :alt => "avocado rating", :id => "rating_icon") %>
        <%end%>
      </h4>
      <br>
      <p><%= review.content_body %></p>
      <hr>
    <% end %>
  </ul>
<% else %>
  <p>There are no reviews yet!</p>
<% end %>
