<!DOCTYPE html>
<html>
  <head>
    <title>MarioFood</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Slabo+27px" rel="stylesheet">
  </head>

  <body>
  <div id="background">
      <div id="jumbo" class="jumbotron">

        <h1 id="mario">Mario</h1>
      </div>
    </div>
    <nav class="overlay-menu">
      <p><a><%= link_to 'Home', root_path %> | <%= link_to 'Products', products_path %></p>
    </nav>
    <h3 id=home_title>Mario's Specialty Food Products</h3>
    <div class="container">
      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <%= yield %>
    </div>
  </body>
</html>
