<!DOCTYPE html>
<html>
  <head>
    <title>MarioFood</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="overlay-menu">
      <ul>
        <li><a><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Products', products_path %></li>
      </ul>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
